<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<body>
<div id="wrap">
    <div th:replace="fragments/navbar :: navbar" />

    <div class="container">
        <div class="form-group">
            <h3 th:text="${board.title}"></h3>
            <input type=hidden th:id="boardId" th:value="${board.id}">
            <div>
                글 번호: <span><i th:text="|${board.id},|"></i></span>
                작성자: <span><i th:text="${board.username}"></i></span><br>
                생성일: <span><i th:text="${{board.createdDate}}"></i></span><br>
                수정일: <span><i th:text="${{board.lastModifiedDate}}"></i></span>
            </div>

            <hr>

            <div class="form-group">
                <div>
                    <img th:each="imageFile : ${board.attachFiles}"
                         th:if="${imageFile.attachType.toString().equals('IMAGE')}"
                         th:src="|/images/${imageFile.storeFileName}|" width="300" height="300" style="margin-right: 5px"/>
                </div>
                <div th:utext="${board.content}"></div>
            </div>
            <hr>
            <br>
            <div>
                <a th:each="uploadFile : ${board.attachFiles}"
                   th:if="${uploadFile.attachType.toString().equals('FILE')}"
                   th:href="@{/attach/{filename}(filename=${uploadFile.storeFileName}, originName=${uploadFile.uploadFileName})}"
                   th:text="${uploadFile.uploadFileName}" style="margin-right: 5px"/><br/>
            </div>
            <hr>
            <div class="d-flex justify-content-end">
                <span>
                    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
                    <a th:if="${#authentication.principal.user.loginId} == ${board.loginId}"
                       th:href="@{/board/{id}/update(id=${board.id})}" class="btn btn-primary">수정</a>
                    <button th:if="${#authentication.principal.user.loginId} == ${board.loginId}" id="btn-delete" class="btn btn-danger">삭제</button>
                </span>
            </div>
        </div>

        <div>
            <div class="card">
                <div class="card-header">댓글 리스트</div>
                <ul th:each="reply : ${board.replys}" id="reply--box" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <div th:text="${reply.r_content}"></div>
                        <div class="d-flex">
                            <div th:text="|작성자 : ${reply.r_username}, &nbsp|" class="font-italic"></div>
                            <span class="font-italic" th:if="${reply.r_createdDate == reply.r_lastModifiedDate}" th:text="|등록일: ${{reply.r_createdDate}}|"></span>
                            <span class="font-italic" th:unless="${reply.r_createdDate == reply.r_lastModifiedDate}" th:text="|수정일: ${{reply.r_lastModifiedDate}}|"></span>
                        </div>

<!--                            <button th:if="${#authentication.principal.user.loginId} == ${reply.r_loginId}"-->
<!--                                    th:onclick="|javascript:index.reply_update_form(${board.id}, ${reply.r_loginId})|"-->
<!--                                    class="badge">수정</button>-->
                            <button th:if="${#authentication.principal.user.loginId} == ${reply.r_loginId}"
                                    th:onclick="javascript:index.delete_reply([[${board.id}]], [[${reply.r_id}]])" class="badge">삭제</button>
                    </li>
                </ul>
            </div>

            <br>
            <div class="card">
                <form>
                    <div class="card-body">
                        <textarea id="reply-content" class="form-control" rows="1"></textarea>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="btn-reply-save" class="btn btn-primary">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer" />
<script src="/js/board.js"></script>

</body>
</html>