<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div id="wrap">
    <div th:replace="fragments/navbar :: navbar" />

    <div class="container">
        <form th:action method="post" enctype="multipart/form-data">
            <input type=hidden id="id" th:name="id" th:value="${principal.id}">

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" placeholder="제목을 입력하세요." id="title">
            </div>

            <div class="form-group">
                <label for="uploadFiles">파일 업로드 >></label>
                <input type="file" multiple="multiple" name="uploadFiles" id="uploadFiles" >
            </div>
            <div class="form-group">
                <label for="imageFiles">이미지 첨가하기>></label>
                <input type="file" multiple="multiple" name="imageFiles" id="imageFiles" >
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control summernote" rows="5" id="content"></textarea>
            </div>
            <input type="submit" value="작성하기(웹용)">
        </form>
        <br>
        <button id="btn-board-write" class="btn btn-primary">작성하기(API용)</button>
    </div>
</div>

    <!-- 썸머노트 사용 -->
    <script>
    $('.summernote').summernote({
        tabsize: 2,
        height: 300,
    });
    </script>

    <div th:replace="fragments/footer :: footer" />
    <script src="/js/board.js"></script>

</body>
</html>