<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>
    <div th:replace="fragments/navbar :: navbar" />


    <div class="container">
        <form>
            <input type="hidden" id="id" th:value="${principal.id}">
            <div class="form-group">
                이름: <input type="text" th:value="${principal.username}" id="username" class="form-control" readonly>
            </div>
            <hr>

            <div class="form-group">
                비밀번호: <input type="password" class="form-control" id="password" required>
            </div>

            <div class="form-group">
                이메일: <input type="email" th:value="${principal.getEmail()}" class="form-control" id="email" required>
<!--이거안됨                이메일: <input type="email" th:value="${principal.user.email}" class="form-control" id="email" required>-->
            </div>

            <div class="d-flex justify-content-end">
                <span>
                    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
                    <button id="btn-update" class="btn btn-primary">수정하기</button>
                    <button id="btn-delete" class="btn btn-danger">탈퇴하기</button>
                </span>
            </div>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer" />
    <script src="/js/user.js"></script>
</div>
</body>
</html>
