<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <div th:replace="fragments/navbar :: navbar" />

    <div class="container">
        <form action="/auth/loginProc" method="post">
            <div class="form-group">
                <label for="username">이름:</label>
                <input type="text" name="username" class="form-control" placeholder="이름을 입력하세요." id="username">
            </div>

            <div class="form-group">
                <label for="password">비밀번호:</label>
                <input type="password" name="password" class="form-control" placeholder="Enter password" id="password">
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="remember" type="checkbox"> Remember me
                </label>
            </div>
            <button id="btn-login" class="btn btn-primary">로그인</button>
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=3be8c1c8253cc21d8691029eccbe6b75&redirect_uri=http://localhost:8080/auth/kakao/callback&response_type=code"><img height="38px" src="/image/KakaoLoginButton.png"></a>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>