<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="footer" th:fragment="navbar">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">홈</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!--로그인 상태-->
            <div sec:authorize="isAuthenticated()">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/board/write">글쓰기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/detail">회원정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">로그아웃</a>
                    </li>
                </ul>
            </div>

            <!--비로그인 상태-->
<!--            <div sec:authorize="!isAuthenticated()">-->
            <div sec:authorize="isAnonymous()">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/join">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <br>
</div>


