<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal" />
</sec:authorize>

<body>
<div>
    <div th:replace="fragments/navbar :: navbar" />

    <div class = "container">
        <div class="card" th:each="board : ${boards.content}">
            <div class="card-body">
                <h4 class="card-title" th:text="${board.title}">제목</h4>
                <p class="card-text" th:utext="${board.content}">내용</p>
                <a href="#" class="btn btn-primary">내용보기</a>
            </div>
        </div>
    </div>

    <ul class="pagination justify-content-center" th:if="${boards.first}">
        <li class="page-item disabled"><a class="page-link" th:href="@{?page={num}(num=${boards.getNumber()-1})}">이전</a></li>
        <li class="page-item"><a class="page-link" th:href="@{?page={num}(num=${boards.getNumber()+1})}">다음</a></li>
    </ul>

    <ul class="pagination justify-content-center" th:if="${boards.last}">
        <li class="page-item"><a class="page-link"th:href="@{?page={num}(num=${boards.getNumber()-1})}">이전</a></li>
        <li class="page-item disabled"><a class="page-link" th:href="@{?page={num}(num=${boards.getNumber()+1})}">다음</a></li>
    </ul>

    <ul class="pagination justify-content-center" th:if="!${boards.last} and !${boards.first}">
        <li class="page-item"><a class="page-link"th:href="@{?page={num}(num=${boards.getNumber()-1})}">이전</a></li>
        <li class="page-item"><a class="page-link" th:href="@{?page={num}(num=${boards.getNumber()+1})}">다음</a></li>
    </ul>

    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>