<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal" />
</sec:authorize>

<body>
<div id="wrap">
    <div th:replace="fragments/navbar :: navbar" />

    <h1>안녕하세요!</h1>


</div>

<div th:replace="fragments/footer :: footer" />
</body>
</html>