<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal" />
</sec:authorize>

<body>
<div id="wrap">
    <div th:replace="fragments/navbar :: navbar" />

    <div class="container">
        <form>
            <div class="form-group">
                <label for="user">주문회원</label>
                <select name="userId" id="user" class="formu-control">
                    <option value="">회원선택</option>
                    <option th:each="user : ${users}"
                            th:id="userId"
                            th:value="${user.id}"
                            th:text="${user.loginId}" />
                </select>
            </div>

            <div class="form-group">
                <label for="item">상품명</label>
                <select name="itemId" id="item" class="form-control">
                    <option value="">상품선택</option>
                    <option th:each="item : ${items}"
                            th:value="${item.id}"
                            th:text="${item.name}" />
                </select>
            </div>

            <div class="form-group">
                <label for="count">주문수량</label>
                <input type="number" name="count" class="form-control" id="count" placeholder="주문 수량을 입력하세요">
            </div>
        </form>
        <button id="btn-order-save" class="btn btn-primary">주문하기</button>
    </div>
</div>


    <div th:replace="fragments/footer :: footer" />
    <script src="/js/order.js"></script>

</body>
</html>