<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal" />
</sec:authorize>

<body>
<div id="wrap">
    <div th:replace="fragments/navbar :: navbar" />
    <br>
    <div><h3>&nbsp;&nbsp;주문목록 페이지입니다. (페이지당 2개만 출력되도록 단순화)</h3></div>
    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>주문 PK</th>
            <th>주문자 ID</th>
            <th>주문자 이름</th>
            <th>주문 날짜</th>
            <th>주문 상태</th>
            <th>주소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${lists.content}" th:object="${order}">
            <td th:text="*{orderId}"></td>
            <td th:text="*{loginId}"></td>
            <td th:text="*{username}"></td>
            <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="*{status}"></td>
            <td th:text="|*{address.address1} *{address.zipcode}, *{address.address2}|"></td>
        </tr>
        </tbody>
    </table>

    <span th:if="${lists.first} and ${lists.last}">
        <ul class="pagination justify-content-center" th:if="${lists.first} and ${lists.last}">
            <li class="page-item disabled"><a class="page-link" th:href="@{?page={num}(num=${lists.getNumber()-1})}">이전</a></li>
            <li class="page-item disabled"><a class="page-link" th:href="@{?page={num}(num=${lists.getNumber()+1})}">다음</a></li>
        </ul>
    </span>
    <span th:unless="${lists.first} and ${lists.last}">
        <ul class="pagination justify-content-center" th:if="${lists.first}">
            <li class="page-item disabled"><a class="page-link" th:href="@{?page={num}(num=${lists.getNumber()-1})}">이전</a></li>
            <li class="page-item"><a class="page-link" th:href="@{?page={num}(num=${lists.getNumber()+1})}">다음</a></li>
        </ul>

        <ul class="pagination justify-content-center" th:if="${lists.last}">
            <li class="page-item"><a class="page-link"th:href="@{?page={num}(num=${lists.getNumber()-1})}">이전</a></li>
            <li class="page-item disabled"><a class="page-link" th:href="@{?page={num}(num=${lists.getNumber()+1})}">다음</a></li>
        </ul>

        <ul class="pagination justify-content-center" th:if="!${lists.last} and !${lists.first}">
            <li class="page-item"><a class="page-link"th:href="@{?page={num}(num=${lists.getNumber()-1})}">이전</a></li>
            <li class="page-item"><a class="page-link" th:href="@{?page={num}(num=${lists.getNumber()+1})}">다음</a></li>
        </ul>
    </span>
</div>


<div th:replace="fragments/footer :: footer" />
<script src="/js/order.js"></script>

</body>
</html>